@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo{
    padding: 5px; 
    /* font-size: 48px; */
    /* display: inline-block; */
    margin-top: -30px;
    
}
.navbar{
    height: 70px;
    /* line-height: 2vh; */
    padding: 10px;
    /* column-gap: 1.5rem; */
    box-shadow: 0px 0px 20px #FF7F32;
    background-color: whitesmoke;
    /* align-items: center; */
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    /* background-color: red; */
    /* line-height: 10vh; */
}

.navbar ul li a{
    text-decoration: none;
    color: #FF7F32;
    /* font-size: 18px; */
    /* font-weight: 500; */
  /* padding: 7px 13px; */
    /* border-radius: 3px; */
}
.navbar ul li a:hover{
    color: #e19b79;
    transition: 0.3s all linear;
}
.hamburger{
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    row-gap: 5px;
    /* display: flex; */
    /* border: 1px solid #cda79a; */
    border: none;
    /* box-shadow: none!important; */
    display:none ;
    cursor: pointer;
}
.icon-bar{
    width: 25px;
    height: 3px;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e19b79;
    
}

.coverletter{
    padding: 10px;
    /* background-color: blue; */
    height: 80vh;
    width: 50vw;
    margin: auto;
    border-radius: 20px;
    border: 1px solid gold;
}

.coverletter ul li {
    list-style:none;
    /* text-decoration: none; */
}
.sec1{
    position: relative;
    width: 100%;
    /* background-color: white!important; */
    height: 60vh;
    max-width: 600px;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 90px;
    padding: 10px;
}
.sec1Home{
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
}

.pic img{
    border-radius: 45%;
    border: 1px solid #FF7F32;
    width: 150px;
    margin: auto;
}
.sec2{
    display: block;
    /* padding: 10px; */
    margin: 10px 0 15px 0px;
    background-color: #FF7F32;
    height: 80vh;
    
}

.col{
    background-color: gold!important;
}
.sec3{
    /* z-index: -2; */
    width: 100%;
    height: 550px;
    background-image: url(img/bckgrdImg.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    /* display: flex; */
}
.overlay-bckgrd{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .9;
    animation: color_change 2s infinite alternate;
}
 @keyframes color_change {
    0% {
    background: #FF7F32;
    }
    10% {
        background: #f28e57;
        }
    20% {
        background: #e19b79;
        }
    40% {
        background: #cda79a;
        }
    60% {
        background: #b1b3bb;
        }
    80% {
        background: #89bfdd;
        }
    100% {
        background: #32ffce;
        }
 }

.sec4Contact{
    background-color: #32ffce;
    justify-content: center;    
    padding: 10px;
    box-shadow: 0px 0px 5px #e19b79;
    justify-content: space-around;
}

.msgArea{
    /* width: 40%; */
}
.msgArea input{
    border: 2px solid #e19b79;
    color: black;
}
.msgArea textarea{
    border: 2px solid #e19b79;
    color: black;
    resize: none;
}

.msgArea button{
    border: 2px solid #e19b79;
    background-color: whitesmoke;
    border-radius: 10px;
}

.msgArea button:hover{
    color: white;
    background-color: #e19b79;
}

.sm-logo a {
    padding: 5px;
    color: #e19b79;
}

.sm-logo a i{
    padding: 5px;
    color: #e19b79;
}

.foot div{
    padding: 5px;
    text-align: center;

}

/* media queries */

@media (max-width: 768px){
    .hamburger{
        display: block;     
    }

    .hamburger.active .icon-bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .icon-bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .icon-bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-lists{
        /* display: none; */
        position: fixed!important;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: aliceblue;
        width: 50%;
        text-align: left;
        transition: 0.3s;


    }
    .navbar-lists.active{
        left: 0;
    }

    .navbar ul li{
        margin: 16px 0;
    }
    
}
